@import "tailwindcss";

:root {
  --text-darker-gray: #727B84;
  --text-gray: #8F99A8;
  --text-body-black: #232529;
  --text-heading-black: #1C1D1F;
  --button-black: #202125;
  --text-nav-gray: #2e3238;
}

body {
  background-color: #ffffff;
  scroll-behavior: smooth;
}


.custom-container {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

/* Text Colours */

.text-darker-gray {
  color: var(--text-darker-gray);
}

.text-gray {
  color: var(--text-gray);
}

.text-body-black {
  color: var(--text-body-black);
}

.text-heading-black {
  color: var(--text-heading-black);
}

.button-black {
  background-color: var(--button-black);
}
